In [1]:
import pandas as pd
import matplotlib.pylab as plt
import statsmodels.api as sm
import numpy as np
import seaborn as sns
from scipy import stats

In [2]:
# 거래관련 상담센터 신고 list
read_path = '../csv/help_reporter_frauder.csv'
help_raw = pd.read_csv(read_path)

help_raw['fraud_help'] = 1

help_raw = help_raw.sort_values(['reporter_uid', 'fraud_uid', 'created_at'])  # sort again, ascending

help_raw = help_raw.drop_duplicates(['reporter_uid', 'fraud_uid'])  # drop duplicated row, keep 1st row

help_raw = help_raw.rename(columns={'created_at': 'created_at_help'})

help_raw['month_at'] = help_raw['created_at_help'].astype(str).str[:7]

# change type to str
for col in ['reporter_uid', 'fraud_uid']:
    
    df = help_raw
    
    df[col] = df[col].astype('str')
    

help_raw.tail()

,discussion_id,created_at_help,reporter_uid,fraud_uid,fraud_help,month_at
197015,838830,2019-07-05 07:56:30,9317104,0,1,2019-07
196983,838715,2019-07-04 23:36:37,9317700,8767099,1,2019-07
196782,837888,2019-07-03 21:12:13,9322294,0,1,2019-07
196784,837893,2019-07-03 21:17:22,9322294,9320707,1,2019-07
196876,838255,2019-07-04 13:55:10,9323927,4623330,1,2019-07

In [4]:
# 2017년 1월 ~ 2019년 6월 상담센터 신고 내역
help_raw_17 = help_raw


help_raw_17['created_at_help'] = pd.to_datetime(help_raw_17['created_at_help'])

help_raw_17['year'] = help_raw_17['created_at_help'].dt.year
help_raw_17['month'] = help_raw_17['created_at_help'].dt.month

help_raw_17 = help_raw_17[help_raw_17['year'] >= 2017]

help_raw_17 = help_raw_17[(help_raw_17['year'] != 2019) | (help_raw_17['month'] <= 6)]

help_raw_17 = help_raw_17.drop(['year', 'month'], axis=1)

help_raw_17.tail()

,discussion_id,created_at_help,reporter_uid,fraud_uid,fraud_help,month_at
195988,834704,2019-06-28 23:35:47,9281092,7344857,1,2019-06
195764,833830,2019-06-27 18:26:33,9282335,3893252,1,2019-06
196064,834966,2019-06-29 14:45:24,9283571,7165014,1,2019-06
196052,834921,2019-06-29 13:32:34,9290388,undefined,1,2019-06
196214,835513,2019-06-30 17:59:49,9300550,8733407,1,2019-06

In [3]:
# 영구 제재 받은 uid list
read_path = '../csv/block_uid.csv'
fraud_uid_block = pd.read_csv(read_path)

fraud_uid_block['block_infinite'] = 1

# change type to str
fraud_uid_block['uid'] = fraud_uid_block['uid'].astype(str)

fraud_uid_block.tail()

            uid  block_infinite
143847  5834292               1
143848  5067006               1
143849  8755369               1
143850  5083812               1
143851  7961342               1