In [1]:
import pandas as pd

In [18]:
## import search term file
read_path = '../csv/search_term_200501_200510.csv'
search_term = pd.read_csv(read_path)
search_term = search_term.rename(columns={'count': 'search_count'})
search_term['search_rank'] = search_term['search_count'].rank(ascending=False, method = 'max')
search_term.head()

   ref_term  search_count  search_rank
0  닌텐도 스위치          65639          1.0
1       아이폰         25885          2.0
2       자전거         19333          3.0
3       노트북         17834          4.0
4    닌텐도스위치         17615          5.0

In [3]:
## import search click file
read_path = '../csv/search_click_200501_200510.csv'
search_click = pd.read_csv(read_path)
search_click.head()

  ref_term   category         name   click
0  닌텐도 스위치  600600001  닌텐도/NDS/Wii  506059
1      아이폰  600700001         스마트폰  187787
2   닌텐도스위치  600600001  닌텐도/NDS/Wii  137077
3      에어팟  600500010      이어폰/헤드폰  133402
4       픽시  700350100       클래식/픽시  132740

In [25]:
term_click = pd.merge(search_term, search_click, on='ref_term',how='left')
term_click_1000 = term_click[term_click['search_rank'] <= 1000]

term_click_1000['category'] = term_click_1000['category'].astype(str)
term_click_1000['category_2th'] = term_click_1000['category'].str[:6]
term_click_1000['category_1th'] = term_click_1000['category'].str[:3]
term_click_1000

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ref_term,search_count,search_rank,category,name,click,category_2th,category_1th
0,닌텐도 스위치,65639,1.0,600500010.0,이어폰/헤드폰,1135.0,600500,600
1,닌텐도 스위치,65639,1.0,100600.0,주의해요(후기),386.0,100600,100
2,닌텐도 스위치,65639,1.0,500119002.0,교육완구,375.0,500119,500
3,닌텐도 스위치,65639,1.0,600700003.0,케이스/범퍼,313.0,600700,600
4,닌텐도 스위치,65639,1.0,320030200.0,후드 티셔츠,133.0,320030,320
...,...,...,...,...,...,...,...,...
76636,포트메리온,961,999.0,900100009.0,아동/어린이,4.0,900100,900
76637,포트메리온,961,999.0,800400040.0,텀블러/물병,2.0,800400,800
76638,포트메리온,961,999.0,800100001.0,욕실 용품,1.0,800100,800
76639,포트메리온,961,999.0,900310400.0,수공예품,1.0,900310,900
76640,포트메리온,961,999.0,400040100.0,런닝화/워킹화,1.0,400040,400

In [29]:
term_click_1000_result = term_click_1000.groupby(['search_rank', 
                                                  'ref_term', 
                                                  'category_1th'], as_index=False).agg({'search_count': 'mean', 'click': 'sum'})
term_click_1000_result

      search_rank  ref_term category_1th  search_count   click
0             1.0  닌텐도 스위치           100         65639   386.0
1             1.0  닌텐도 스위치           240         65639     2.0
2             1.0  닌텐도 스위치           310         65639    63.0
3             1.0  닌텐도 스위치           320         65639   244.0
4             1.0  닌텐도 스위치           400         65639    97.0
...           ...       ...          ...           ...     ...
9616        999.0     포트메리온          500           961    16.0
9617        999.0     포트메리온          600           961     4.0
9618        999.0     포트메리온          800           961  4135.0
9619        999.0     포트메리온          900           961     5.0
9620        999.0     포트메리온          999           961    73.0

[9621 rows x 5 columns]

In [30]:
# save
save_path = '../csv/result/search_term_click_200501_200510.csv'
term_click_1000_result.to_csv(save_path, index=False, mode='w', header=True)

In [27]:
print(term_click_1000['category_1th'].unique())

['600' '100' '500' '320' '910' '700' '310' '400' '900' '410' '240' '200'
 '800' '210' '750' '999' '220' '230' 'nan']